body{
    margin: 50px 50px 0px 50px;
    font-family: "Poppins", sans-serif;
}


a{
    text-decoration: none;
    color: rgb(89, 86, 86);
}

ul{
    list-style-type: none;
}

.logo img{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 35%;
}

.logo:hover{
    transform: scale(1.05);
}

nav ul{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

nav{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-left: 48px;
}


nav a:hover{
    color: black;
}

 .button-container{
    display: flex;
    gap:16px
 }

 .button-primary{
    display: flex;
    border-radius: 10px;
    background-color: black;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: white;
 }

.button-primary:hover{
    transform: scale(1.03);
}

 .presentation{
    display: flex;
    justify-content: flex-end;
    align-items: center;
 }

  .presentation video{
         width: 470px;
         height: 250px;
         object-fit: cover;
         border-radius: 10px;
    
  }

header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.competences{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
    flex-wrap: wrap;
}
.competence{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1px;
    width: 300px;
    text-align: center;
    justify-content: space-between;
    transition: transform 1s ease;
}

.competence video{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.competence:hover{
    transform: scale(1.05);
}

#realisations{
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    flex-wrap: wrap;
}

h2{
    display: flex;
    justify-content: center;
}

.projets1{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-right: 245px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.projets2{
    display: flex;
    justify-content: space-around;
    margin-left: 245px;
    margin-top: 15px;
    flex-wrap: wrap;
}
#realisations img{
    width: 250px;
    height: 250px;
    border-style: double;
    border-width: 50%;
    border-radius: 10px;
   flex-wrap: wrap;
}

#retours{
    margin-bottom: 0px;
    margin-top: 50px;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.images:hover{
    transform: scale(1.03);
}


.temoignage{
    display: flex;
    border-radius: 10px;
    background-color: rgb(212, 208, 208);
    width: 400px;
    height: 250px;
    justify-content: space-between;
    color: black;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    font-size: small;
    transition: transform 0.2s ease;
}

.temoignages{
    gap: 10px;
    position: relative;
}

 .temoignage:hover{
    transform: scale(1.05);
}

.button {
  position: absolute;
  top: 50%;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  display: flex;
}

.button--previous {
  left: 1.5rem;

  transform: rotate(180deg);
}

.button--next {
  right: 1.5rem;
}


.temoignage img{
    width: 50px;
    height: 40px;
    object-fit: cover;
}

.note{
    display: flex;
    align-items: center;
}

.list {
  display: flex;
  gap: 8px;
  padding: 16px;

  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.item {
  flex-shrink: 0;
  width: 450px;
  height: 60vh;
  background-color: #FFF;
  scroll-snap-align: center;
}

.list::-webkit-scrollbar {
  display: none;
}

 .button-container2{
    display: flex;
    gap:16px;
    justify-content: center;
    align-items: center;
 }

 .footer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgrey;
    padding: 13px;
 }
 .foot{
    display: flex;
    flex-direction: column;
 }

 .icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
 }


 footer p{
    display: flex;
    justify-content: center;
    align-items: center;
 }